
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.css'>
<header>
    <div class='row'>
        <div class='col-sm-12'>
            <% site.tags.sort('name').each(function(tag) { %>
                <div id="<%= tag.name + '-list' %>" class="archive box" data-tag="<%= tag.name.toLowerCase() %>">
                    <a class="button is-success" href="<%- url_for(config.tag_dir + '/' + tag.slug) %>">
                        <%= tag.name + ' (' + tag.length + ')' %>
                    </a>
                </div>
            <% }); %>
        </div>
    </div>
    <div class='row'>
        <% site.posts.each(function(post){ %>
                <div class="post-preview">
                    <p class="post-meta">
                      <%= date(post.date, config.date_format) %> 
                    </p>
                    <h3 class="post-title">
                        <a href="<%- url_for(post.path) %>">
                            <%= post.title %>
                        </a>
                    </h3>
                    <% if(post.excerpt) { %>
                        <p>
                            <%- post.excerpt %>
                        </p>
                    <% } %>
                    <div class='row'>
                        <div class='col-md-2 col-md-offset-10'>
                            <%- page.content %>
                        </div>
                    </div>
                </div>
        <% }); %>

    </div>
</header>


