
<header>
    <%- partial('_partial/nav') %>

    <div class='columns is-multiline is-mobile top-offset-30'>
        <div class='column is-8'>
            <h1>Posts</h1>
            <br>
            <br>
            <% site.posts.each(function(post){ %>
                <div class='notification is-danger post'>
                    
                    <a href="<%- url_for(post.path) %>" class='underline-link' style='padding-bottom: 8px;'>
                        <%= post.title %>
                    </a>
                    <p class='padding-bottom-10'>
                    <% post.tags.each(function(tag){ %>
                        <span class="tag"><%= tag.name %></span>
                    <% }); %>
                    </p>
                    <p>
                      <%= date(post.date, config.date_format) %> 
                    </p>
                </div>
            <% }); %>
        </div>
    </div>
</header>


