<!-- Header -->
<header>
    <div class="row">
      <div class='col-xs-offset-1 col-xs-6'>
        <h1>Hi, I'm Connor</h1>
        <p>I make things for the web using AWS, Javascript and PHP</p>
        <%- partial('_partial/social_buttons') %>
      </div>
    </div>
</header>

<!--
<div class='container'>
    <div class='row'>
        <div class='col-sm-3'>
            <h2>Recent Posts</h2>
        </div>
        <div class='col-sm-6 col-sm-offset-1'>
            <h2>Tags</h2>
        </div>


        
        <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
            <% page.posts.each(function(post){ %>
                <div class="post-preview">
                    <p class="post-meta">
                      <%= date(post.date, config.date_format) %> 
                    </p>
                    <h3 class="post-title">
                        <a href="<%- url_for(post.path) %>">
                            <%= post.title %>
                        </a>
                    </h3>
                    <% if(post.excerpt) { %>
                        <p>
                            <%- post.excerpt %>
                        </p>
                    <% } %>
                    <div class='row'>
                        <div class='col-md-2 col-md-offset-10'>
                            <%- page.content %>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
</div>
-->
