if config.author
  meta(name="author", content=config.author)

title
  if page.title
    = page.title
  else
    = config.title
meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(http-equiv='cleartype', content='on')
meta(name='MobileOptimized', content='320')
meta(name='HandheldFriendly', content='True')
meta(name='apple-mobile-web-app-capable', content='yes')
meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
if page.lede
  meta(name='description', content=page.lede)
else
  meta(name='description', content='Connor is a Web Developer based near San Francisco specializing in PHP, Javascript, Serverless and Node.js')
meta(name='keywords', content='laravel, aws, javascript, php, developer, software engineer, web development, software, node.js, serverless, lambda, san francisco, bay area, east bay, vue, vuejs, vue.js, vue 2, laravel 5, amazon web services')
meta(name='zipcode', content='94501')
meta(name='city', content='Alameda')
meta(name='state', content='California')
meta(name='country', content='United States')
meta(name='language', content='EN')
meta(property='og:site_name', content='Connor Leech Blog | Javascript and Laravel tutorials')
meta(property="og:description" content="Get notified about the latest trends in web development, career growth and cloud infrastructure. I send emails about twice a month covering tutorials in Javascript, Laravel and Cloud")
meta(property="og:image" content="http://i0.kym-cdn.com/photos/images/original/001/018/899/936.jpg")

meta(property="og:title" content=page.title)
meta(property="og:description" content=page.lede)

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-70809574-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-70809574-1');
</script>

// Favicon
link(rel="shortcut icon" type="image/png" href="/images/favicon.ico")
link(rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png")
link(rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png")
link(rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png")

// Vendor Fonts
link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css' rel='stylesheet', type='text/css')
link(href="/bower_components/animate.css/animate.min.css" rel='stylesheet' type='text/css')
link(href="https://fonts.googleapis.com/css?family=Yantramanav" rel="stylesheet")
// HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
// WARNING: Respond.js doesn't work if you view the page via file://
//if lt IE 9
  script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
  script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')

//- RSS
link(rel="alternate", href=theme.rss ? theme.rss : config.root + "rss2.xml", title="config.title", type="application/rss2.xml")

//- Stylesheets
!= css("/css/main")





