extends base

block site_body

  // Home
  section#home
    .container.hero
      .row.copy
        .col-md-6.col-md-offset-2
          h1(style='color:#494949;') Learn developer witchcraft.
          p Get notified about the latest trends in web development. I send emails about twice a month covering tutorials in Node.js, Laravel and Vue.js with some cloud sprinkled in ☁️.
          form(action="//herokuapp.us14.list-manage.com/subscribe/post?u=42dd73a709fbadb4a29ef1d0d&amp;id=b77fdad58d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate)
            div(class='input-group')
              input(type="email" value="" name="EMAIL" class="required email form-control input-lg" id="mce-EMAIL" placeholder='Enter your email here')
              div(class="response" id="mce-error-response" style="display:none")
              div(class="response" id="mce-success-response" style="display:none")

              div(style="position: absolute; left: -5000px;" aria-hidden="true")
                input(type="text" name="b_42dd73a709fbadb4a29ef1d0d_b77fdad58d" tabindex="-1" value="")
              span(class='input-group-btn')
                input(type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-lg")
          

  section#about.content-section
    .container
      .row
        .copy.col-md-8.col-md-offset-2
          .about.wow.fadeIn
            h2.section-title 
              a(href='https://github.com/connor11528' target='_blank') Connor11528 
              | is a developer, blogger and recruiter.
            p 
              span
              | Connor's been a programmer off and on for over six years. He's recently fallen in love with Laravel and wants to share the awesomeness with the world.

          .about.wow.fadeIn
            p
              | Currently, he's writing a book about 
              span 
                a(target='_blank' href='https://leanpub.com/badass-web-development-with-laravel-5') badass web development using Laravel 5
                |, has open source code available 
                a(target='_blank' href='https://github.com/connor11528') on github
                |  and has written a ton of 
                a(href='/blog/') blog posts 
                | about technical topics like PHP, Node.js and the cloud.
            div
              h3(style='color:#494949;') Organizations I support
              .row
                .col-sm-6
                  
                    figure
                      a(href='http://www.tunapanda.org/' target='_blank')
                        img(src='https://i.imgur.com/ejD7Cze.jpg')
                      //- figcaption Tunapanda
                .col-sm-6
                  
                    figure
                      a(href='https://scripted.org/' target='_blank')
                        img(src='https://i.imgur.com/yPvZwKj.png')
                      //- figcaption Script Ed

          .about.wow.fadeIn    
            p
              a.btn.btn-default.email(href='mailto:connorleech@gmail.com') mailto:connorleech@gmail.com

  // Featured Post
  section#feature-post.content-section
    .container
      .row
        .col-md-8.col-md-offset-2
          h2.section-title.wow.fadeIn
            a(href=config.feature_note_path)='Featured post: ' + config.feature_note_title
          h5.info.wow.fadeIn=config.feature_note_author + ' - '
            span.date=config.feature_note_date
          p.wow.fadeIn=config.feature_note_excerpt + ' '
            span
            a.readmore(href=config.feature_note_path) Read More
          a.btn.btn-default.wow.fadeIn.read-more(href='/blog/') Blog

